@media (max-width: 575px){
    .container{
        max-width: 100%;
    }
    .col-xs-1{
        width: 8.3333%;
    }
    .col-xs-2{
        width: 16.6666%;
    }
    .col-xs-3{
        width: 25%;
    }
    .col-xs-4{
        width: 33.3333%;
    }
    .col-xs-5{
        width: 41.6666%;
    }
    .col-xs-6{
        width: 50%;
    }
    .col-xs-7{
        width: 58.3333%;
    }
    .col-xs-8{
        width: 66.6666%;
    }
    .col-xs-9{
        width: 75%;
    }
    .col-xs-10{
        width: 83.3333%;
    }
    .col-xs-11{
        width: 91.6666%;
    }
    .col-xs-12{
        width: 100%;
    }
    .display-none-xs{
        display: none;
    }
    .padding-xs{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    /* ================== top bar =============== */
    .social-side ul li:not(:last-child){
        margin-right: 7px;
    }
    .section-side ul li a, .social-side ul li a{
        font-size: 12px;
    }
    .section-side ul li{
        margin-bottom: 5px;
    }
    /* ========== hero section ========== */
    .img-container{
        height: 600px;
        border-radius: 0px;
        padding: 10px;
        margin-top: 10px;
    }
    .hero-title img{
        width: 30px;
        height: 30px;
    }
    .hero-title p{
        font-size: 16px;
    }
    .hero-h2 h2, .hero-p p{
        font-size: 50px;
        text-align: left;
    }
    .hero-button .btn a span{
        font-size: 14px;
    } 
    /* ============ about ========== */
    .text-side .title h2{
        font-size: 40px;
    }
    .text-side > p{
        font-size: 14px;
    }
    .text-side .ul-container{
        margin-top: 20px;
        flex-direction: column;
        gap: 3px;
    }
    .text-side .ul-container ul li{
        font-size: 14px;
    }
    .box1{
        top: 70%;
        width: 140px;
        height: 100px;
    }
    .box{
        width: 115px;
        height: 70px;
    }
    .bgimg:hover .img-side .box{
        top: 2%;
    }
    .box{
        padding: 5px;
        padding-left: 25px;
    }
    .box p{
        font-size: 12px;
        line-height: 0.5;
    }
    /* ============== package ============= */
    .img-1, .img-2{
        flex-direction: column;
    }
    .massage-1 img{
        width: 227px;
        height: 200px;
        object-fit: cover;
    }
    .service-icon img{
        margin-left: auto;
        margin-right: auto;
    }
    .info{
        text-align: center;
    }
    .content{
        gap: 20px;
        margin-top: 20px;
    }
    /* =========== services ========== */
    .background{
        padding: 10px;
        padding-top: 60px;
    }
    .background .title h2{
        font-size: 40px;
    }
}
@media (min-width: 576px){
    .container{
        max-width: 540px;
    }
    .col-sm-1{
        width: 8.3333%;
    }
    .col-sm-2{
        width: 16.6666%;
    }
    .col-sm-3{
        width: 25%;
    }
    .col-sm-4{
        width: 33.3333%;
    }
    .col-sm-5{
        width: 41.6666%;
    }
    .col-sm-6{
        width: 50%;
    }
    .col-sm-7{
        width: 58.3333%;
    }
    .col-sm-8{
        width: 66.6666%;
    }
    .col-sm-9{
        width: 75%;
    }
    .col-sm-10{
        width: 83.3333%;
    }
    .col-sm-11{
        width: 91.6666%;
    }
    .col-sm-12{
        width: 100%;
    }
    .display-none-sm{
        display: none;
    }
    /* ============= top bar ============== */
    .section-side ul li{
        margin-bottom: 5px;
    }
    .logo{
        width: 260px;
    }
    /* =========== hero ========== */
    .img-container{
        height: 700px;
        border-radius: 20px;
        padding: 30px;
        margin-top: 10px;
    }
    .hero-title img{
        width: 30px;
        height: 30px;
    }
    .hero-title p{
        font-size: 25px;
    }
    .hero-h2 h2, .hero-p p{
        font-size: 80px;
        text-align: left;
    }
    .hero-button .btn a span{
        font-size: 14px;
    }
    /* =========== about ========== */
    .bgimg:hover .img-side .box{
        top: 2%;
    }
    /* =========== package =========== */
    .massage-1{
        width: 232px;
        height: 325px;
    }
    .massage-1 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
@media (min-width: 768px){
    .container{
        max-width: 720px;
    }
    .col-md-1{
        width: 8.3333%;
    }
    .col-md-2{
        width: 16.6666%;
    }
    .col-md-3{
        width: 25%;
    }
    .col-md-4{
        width: 33.3333%;
    }
    .col-md-5{
        width: 41.6666%;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-7{
        width: 58.3333%;
    }
    .col-md-8{
        width: 66.6666%;
    }
    .col-md-9{
        width: 75%;
    }
    .col-md-10{
        width: 83.3333%;
    }
    .col-md-11{
        width: 91.6666%;
    }
    .col-md-12{
        width: 100%;
    }
    .display-block-md{
        display: block;
    }
    /* =========== hero ========== */
    .img-container{
        height: 700px;
        border-radius: 20px;
        padding: 30px;
        margin-top: 10px;
    }
    .hero-title img{
        width: 30px;
        height: 30px;
    }
    .hero-title p{
        font-size: 35px;
    }
    .hero-h2 h2, .hero-p p{
        font-size: 90px;
        text-align: left;
    }
    /* =========== about ========== */
    .text-side .title h2{
        font-size: 60px;
    }
    .box1{
        top: 71%;
    }
    /* =========== package =========== */
    .massage-1{
        width: 252px;
        height: 345px;
    }
    .massage-1 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
@media (min-width: 992px){
    .container{
        max-width: 960px;
    }
    .col-lg-1{
        width: 8.3333%;
    }
    .col-lg-2{
        width: 16.6666%;
    }
    .col-lg-3{
        width: 25%;
    }
    .col-lg-4{
        width: 33.3333%;
    }
    .col-lg-5{
        width: 41.6666%;
    }
    .col-lg-6{
        width: 50%;
    }
    .col-lg-7{
        width: 58.3333%;
    }
    .col-lg-8{
        width: 66.6666%;
    }
    .col-lg-9{
        width: 75%;
    }
    .col-lg-10{
        width: 83.3333%;
    }
    .col-lg-11{
        width: 91.6666%;
    }
    .col-lg-12{
        width: 100%;
    }
    .display-block-lg{
        display: block;
    }
    /* ========== top bar ============ */
    .section-side ul li a, .social-side ul li a{
        font-size: 12px;
    }
    /* =========== hero ========== */
    .img-container{
        height: 700px;
        border-radius: 20px;
        padding: 30px;
        margin-top: 10px;
    }
    .hero-title img{
        width: 40px;
        height: 40px;
    }
    .hero-title p{
        font-size: 45px;
    }
    .hero-h2 h2, .hero-p p{
        font-size: 110px;
        text-align: left;
    }
    .text-side .title h2{
        font-size: 70px;
    }
    /* ============== about ============== */
    .box1{
        width: 360px;
        height: 300px;
        top: 65%;
    }
    .box{
        width: 310px;
        height: 270px;
        padding-top: 60px;
    }
    .bgimg:hover .img-side .box{
        top: 6%;
    }
    .box p{
        font-size: 40px;
        line-height: 1.5;
    }
    /* =========== package =========== */
    .massage-1{
        width: 207px;
        height: 282px;
    }
    .massage-1 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .content{
        gap: 20px;
    }
}
@media (min-width: 1200px){
    .container{
        max-width: 1140px;
    }
    .col-xl-1{
        width: 8.3333%;
    }
    .col-xl-2{
        width: 16.6666%;
    }
    .col-xl-3{
        width: 25%;
    }
    .col-xl-4{
        width: 33.3333%;
    }
    .col-xl-5{
        width: 41.6666%;
    }
    .col-xl-6{
        width: 50%;
    }
    .col-xl-7{
        width: 58.3333%;
    }
    .col-xl-8{
        width: 66.6666%;
    }
    .col-xl-9{
        width: 75%;
    }
    .col-xl-10{
        width: 83.3333%;
    }
    .col-xl-11{
        width: 91.6666%;
    }
    .col-xl-12{
        width: 100%;
    }
    .display-block-xl{
        display: flex;
    }
    .section-side ul li a, .social-side ul li a{
        font-size: 16px;
    }
    /* =========== hero =========== */
    .img-container{
        padding: 50px;
    }
    /* =========== about ========== */
    .box1{
        width: 240px;
        height: 180px;
    }
    .box{
        width: 210px;
        height: 130px;
        padding-top: 30px;
    }
    .box p{
        font-size: 25px;
    }
    .text-side .title h2{
        font-size: 55px;
    }
}
@media (min-width: 1400px){
    .container{
        max-width: 1320px;
    }
    /* ========== about =========== */
    .box1{
        top: 71%;
    }
    /* =========== package =========== */
    .massage-1{
        width: 233px;
        height: 309px;
    }
    .massage-1 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}