@media (max-width: 575px){
    .container{
        max-width: 100%;
    }
    .col-xs-1{
        width: 8.3333%;
    }
    .col-xs-2{
        width: 16.6666%;
    }
    .col-xs-3{
        width: 25%;
    }
    .col-xs-4{
        width: 33.3333%;
    }
    .col-xs-5{
        width: 41.6666%;
    }
    .col-xs-6{
        width: 50%;
    }
    .col-xs-7{
        width: 58.3333%;
    }
    .col-xs-8{
        width: 66.6666%;
    }
    .col-xs-9{
        width: 75%;
    }
    .col-xs-10{
        width: 83.3333%;
    }
    .col-xs-11{
        width: 91.6666%;
    }
    .col-xs-12{
        width: 100%;
    }
    .display-none-xs{
        display: none;
    }
    .padding-xs{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .align-center-xs{
        align-content: center;
    }
    /* ================== top bar =============== */
    .social-side ul li:not(:last-child){
        margin-right: 7px;
    }
    .section-side ul li a, .social-side ul li a{
        font-size: 12px;
    }
    .section-side ul li{
        margin-bottom: 5px;
    }
    /* ========== hero section ========== */
    .img-container{
        height: 600px;
        border-radius: 0px;
        padding: 10px;
        margin-top: 10px;
    }
    .hero-title img{
        width: 30px;
        height: 30px;
    }
    .hero-title p{
        font-size: 16px;
    }
    .hero-h2 h2, .hero-p p{
        font-size: 50px;
        text-align: left;
    }
    .hero-button .btn a span{
        font-size: 14px;
    } 
    /* ============ about ========== */
    .text-side .title h2{
        font-size: 40px;
    }
    .text-side > p{
        font-size: 14px;
    }
    .text-side .ul-container{
        margin-top: 20px;
        flex-direction: column;
        gap: 3px;
    }
    .text-side .ul-container ul li{
        font-size: 14px;
    }
    .box1{
        top: 70%;
        width: 140px;
        height: 100px;
    }
    .box{
        width: 115px;
        height: 70px;
    }
    .bgimg:hover .img-side .box{
        top: 2%;
    }
    .box{
        padding: 5px;
        padding-left: 25px;
    }
    .box p{
        font-size: 12px;
        line-height: 0.5;
    }
    /* ============== package ============= */
    .img-1, .img-2{
        flex-direction: column;
    }
    .massage-1 img{
        width: 227px;
        height: 200px;
        object-fit: cover;
    }
    .service-icon img{
        margin-left: auto;
        margin-right: auto;
    }
    .info{
        text-align: center;
    }
    .content{
        gap: 20px;
        margin-top: 20px;
    }
    /* =========== services ========== */
    .background{
        padding: 10px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .background .title h2{
        font-size: 40px;
        margin-bottom: 30px;
    }
    .img-box-s .icon-box{
        margin: 10px auto;
    }
    /* =============== form ============ */
    .form-box .text-side{
        padding: 15px;
        margin-top: 20px;
        text-align: center;
    }
    .form-box .col-xs-12{
        padding: 0px;
    }
    .form-title .about{
        margin-left: auto;
        margin-right: auto;
    }
    .box11{
        width: 100%;
    }
    /* ============== video ============== */
    .pd-v{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .video-side{
        padding: 0px;
        text-align: center;
    }
    .video-side .title .about, .reviews .title .about{
        margin-left: auto;
        margin-right: auto;
    }
    .icons{
        margin-top: 0px;
    }
    .icon-box-1 img{
        width: 50px;
        height: 50px;
    }
    .icon-box-1{
        width: 45%;
    }
    .icon-box-1 h4{
        font-size: 14px;
    }
    .video-img{
        margin-left: 0px;
        margin-top: 10px;
    }
    /* ============== price ============ */
    .price-detail{
        flex-direction: column;
    }
    .plan-title h3 a{
        font-size: 20px;
    }
    .plan-title span, .pcontent > p{
        font-size: 14px;
    } 
    .plan-title p{
        font-size: 18px;
    }
    /* ============= testimonial ========== */
    .reviews{
        margin-top: 50px;
    }
    .reviews .title{
        margin-bottom: 20px;
    }
    .reviews .title h2{
        font-size: 40px;
        text-align: center;
    }
    .review-title .arrows{
        display: none;
    }
    .review-box::before, .face-2::before, .face-3::before{
        top: 4%;
        left: 4%;
    }
    /* ================ gallery ================ */
    .gallery-grid{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }
    .gimg-1, .gimg-2, .gimg-3, .gimg-4, .gimg-center{
        position: static;
        margin-left: auto;
        margin-right: auto;
    }
    .gimg-1, .gimg-2, .gimg-3, .gimg-4{
        width: 100%;
        height: 320px;
    }
    .gimg-center{
        width: 100%;
        height: 600px;
        transform: translateX(0%);
        margin-left: auto;
        margin-right: auto;
    }
    .gimg-1::before, .gimg-2::before, .gimg-3::before, .gimg-4::before, .gimg-center::before{
        display: none;
    }
    /* =============== logo ============= */
    .logo-bg{
        height: 200px;
    }
    .logo-box{
        margin-top: 10px;
    }
    /* =========== perfume ========== */
    .p-box{
        width: calc(100% / 2);
    }
    /* ============= footer ========== */
    .footer-content{
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
    .links{
        margin-left: 0px;
    }
}
@media (min-width: 576px){
    .container{
        max-width: 540px;
    }
    .col-sm-1{
        width: 8.3333%;
    }
    .col-sm-2{
        width: 16.6666%;
    }
    .col-sm-3{
        width: 25%;
    }
    .col-sm-4{
        width: 33.3333%;
    }
    .col-sm-5{
        width: 41.6666%;
    }
    .col-sm-6{
        width: 50%;
    }
    .col-sm-7{
        width: 58.3333%;
    }
    .col-sm-8{
        width: 66.6666%;
    }
    .col-sm-9{
        width: 75%;
    }
    .col-sm-10{
        width: 83.3333%;
    }
    .col-sm-11{
        width: 91.6666%;
    }
    .col-sm-12{
        width: 100%;
    }
    .display-none-sm{
        display: none;
    }
    /* ============= top bar ============== */
    .section-side ul li{
        margin-bottom: 5px;
    }
    .logo{
        width: 260px;
    }
    /* =========== hero ========== */
    .img-container{
        height: 700px;
        border-radius: 20px;
        padding: 30px;
        margin-top: 10px;
    }
    .hero-title img{
        width: 30px;
        height: 30px;
    }
    .hero-title p{
        font-size: 25px;
    }
    .hero-h2 h2, .hero-p p{
        font-size: 80px;
        text-align: left;
    }
    .hero-button .btn a span{
        font-size: 14px;
    }
    /* =========== about ========== */
    .bgimg:hover .img-side .box{
        top: 2%;
    }
    /* =========== package =========== */
    .massage-1{
        width: 232px;
        height: 325px;
    }
    .massage-1 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /* =========== services ========== */
    .background{
        padding: 10px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .background .title h2{
        font-size: 45px;
        margin-bottom: 30px;
    }
    .img-box-s .icon-box{
        margin: 10px auto;
    }
    .form-box .text-side{
        padding: 15px;
        margin-top: 30px;
        text-align: center;
    }
    .form-box .col-sm-12{
        padding: 0px;
    }
    .form-title .about{
        margin-left: auto;
        margin-right: auto;
    }
    .box11{
        width: 100%;
    }
    /* ============== video ============== */
    .pd-v{
        margin-top: 80px;
        margin-bottom: 50px;
    }
    .video-side{
        padding: 0px;
        text-align: center;
    }
    .video-side .title .about, .reviews .title .about{
        margin-left: auto;
        margin-right: auto;
    }
    .icons{
        margin-top: 0px;
    }
    .icon-box-1 img{
        width: 70px;
        height: 70px;
    }
    .icon-box-1{
        width: 45%;
    }
    .icon-box-1 h4{
        font-size: 20px;
    }
    .video-img{
        margin-left: 0px;
        margin-top: 10px;
    }
    /* ============== price ============ */
    .price-detail{
        flex-direction: column;
    }
    .plan-title h3 a{
        font-size: 20px;
    }
    .plan-title span, .pcontent > p{
        font-size: 14px;
    } 
    .plan-title p{
        font-size: 18px;
    }
    /* ============= testimonial ========== */
    .reviews{
        margin-top: 50px;
    }
    .reviews .title{
        margin-bottom: 40px;
    }
    .reviews .title h2{
        font-size: 45px;
        text-align: center;
    }
    .review-title .arrows{
        display: none;
    }
    .review-box::before, .face-2::before, .face-3::before{
        top: 5%;
        left: 2%;
    }
    /* ================ gallery ================ */
    .gallery-grid{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }
    .gimg-1, .gimg-2, .gimg-3, .gimg-4, .gimg-center{
        position: static;
        margin-left: auto;
        margin-right: auto;
    }
    .gimg-1, .gimg-2, .gimg-3, .gimg-4{
        width: 100%;
        height: 320px;
    }
    .gimg-center{
        width: 100%;
        height: 600px;
        transform: translateX(0%);
        margin-left: auto;
        margin-right: auto;
    }
    .gimg-1::before, .gimg-2::before, .gimg-3::before, .gimg-4::before, .gimg-center::before{
        display: none;
    }
    /* =============== logo ============= */
    .logo-bg{
        height: 200px;
    }
    .logo-box{
        margin-top: 10px;
    }
    /* =========== perfume ========== */
    .p-box{
        width: calc(100% / 2);
    }
    /* ============= footer ========== */
    .footer-content{
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
    .links{
        margin-left: 0px;
    }
}
@media (min-width: 768px){
    .container{
        max-width: 720px;
    }
    .col-md-1{
        width: 8.3333%;
    }
    .col-md-2{
        width: 16.6666%;
    }
    .col-md-3{
        width: 25%;
    }
    .col-md-4{
        width: 33.3333%;
    }
    .col-md-5{
        width: 41.6666%;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-7{
        width: 58.3333%;
    }
    .col-md-8{
        width: 66.6666%;
    }
    .col-md-9{
        width: 75%;
    }
    .col-md-10{
        width: 83.3333%;
    }
    .col-md-11{
        width: 91.6666%;
    }
    .col-md-12{
        width: 100%;
    }
    .display-block-md{
        display: block;
    }
    /* =========== hero ========== */
    .img-container{
        height: 700px;
        border-radius: 20px;
        padding: 30px;
        margin-top: 10px;
    }
    .hero-title img{
        width: 30px;
        height: 30px;
    }
    .hero-title p{
        font-size: 35px;
    }
    .hero-h2 h2, .hero-p p{
        font-size: 90px;
        text-align: left;
    }
    /* =========== about ========== */
    .text-side .title h2{
        font-size: 60px;
    }
    .box1{
        top: 71%;
    }
    /* =========== package =========== */
    .massage-1{
        width: 252px;
        height: 345px;
    }
    .massage-1 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /* =========== services ========== */
    .background{
        padding: 50px;
    }
    .background .title h2{
        font-size: 55px;
        margin-bottom: 20px;
    }
    .img-box-s .icon-box{
        margin: 10px auto;
    }
    /* ============== form =========== */
    .box11{
        width: 47%;
    }
    /* =============== video ========= */
    .icon-box-1{
        width: 50%;
    }
    .icon-box-1 h4{
        font-size: 25px;
    }
    /* ================== price ============= */
    .plan-title h3 a{
        font-size: 25px;
    }
    .plan-title span, .pcontent > p{
        font-size: 14px;
    } 
    .plan-title p{
        font-size: 20px;
    }
    .row > *:last-child{
        margin-left: auto;
        margin-right: auto;
    }
    /* ================ gallery ================ */
    .gallery-grid{
        display: flex;
        width: 100%;
        min-height: 950px;
        margin-top: 20px;
        position: relative;
    }
    .gimg-1, .gimg-2, .gimg-3, .gimg-4, .gimg-center{
        position: absolute;
    }
    .gimg-1{
        top: 0;
        left: 0;
    }
    .gimg-2{
        left: 0;
        top: 48.5%;
        transform: translateY(-50%);
    }
    .gimg-3{
        top: 68%;
        left: 0;
    }
    .gimg-4{
        top: 68%;
        right: 0%;
    }
    .gimg-center{
        right: 0%;
        transform: translateX(5%);
        top: 0;
    }
    .gimg-1, .gimg-2, .gimg-3, .gimg-4{
        width: 345px;
        height: 280px;
        margin: 0;
    }
    .gimg-center{
        width: 345px;
        height: 600px;
        margin: 0;
    }
    .gimg-1::before, .gimg-2::before, .gimg-3::before, .gimg-4::before, .gimg-center::before{
        display: block;
    }
    /* =========== perfume ========== */
    .p-box{
        width: calc(100% / 3);
    }
    /* =========== footer ========== */
    .footer-content{
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
    }
}
@media (min-width: 992px){
    .container{
        max-width: 960px;
    }
    .col-lg-1{
        width: 8.3333%;
    }
    .col-lg-2{
        width: 16.6666%;
    }
    .col-lg-3{
        width: 25%;
    }
    .col-lg-4{
        width: 33.3333%;
    }
    .col-lg-5{
        width: 41.6666%;
    }
    .col-lg-6{
        width: 50%;
    }
    .col-lg-7{
        width: 58.3333%;
    }
    .col-lg-8{
        width: 66.6666%;
    }
    .col-lg-9{
        width: 75%;
    }
    .col-lg-10{
        width: 83.3333%;
    }
    .col-lg-11{
        width: 91.6666%;
    }
    .col-lg-12{
        width: 100%;
    }
    .display-block-lg{
        display: block;
    }
    /* ========== top bar ============ */
    .section-side ul li a, .social-side ul li a{
        font-size: 12px;
    }
    /* =========== hero ========== */
    .img-container{
        height: 700px;
        border-radius: 20px;
        padding: 30px;
        margin-top: 10px;
    }
    .hero-title img{
        width: 40px;
        height: 40px;
    }
    .hero-title p{
        font-size: 45px;
    }
    .hero-h2 h2, .hero-p p{
        font-size: 110px;
        text-align: left;
    }
    .text-side .title h2{
        font-size: 70px;
    }
    /* ============== about ============== */
    .box1{
        width: 360px;
        height: 300px;
        top: 65%;
    }
    .box{
        width: 310px;
        height: 270px;
        padding-top: 60px;
    }
    .bgimg:hover .img-side .box{
        top: 6%;
    }
    .box p{
        font-size: 40px;
        line-height: 1.5;
    }
    /* =========== package =========== */
    .massage-1{
        width: 207px;
        height: 282px;
    }
    .massage-1 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .content{
        gap: 20px;
    }
    /* ============= services ========== */
    .background{
        padding: 70px;
    }
    .background .title h2{
        font-size: 60px;
        margin-bottom: 20px;
    }
    .img-box-s .icon-box{
        margin: 30px auto;
    }
    /* =============== form =============== */
    .box11{
        width: 80%;
    }
    .form-items{
        margin-left: 40px;
    }
    .form-content .submit{
        margin-left: 60px;
    }
    /* =========== video ========== */
    .icon-box-1 h4{
        font-size: 20px;
    }
    .icon-box-1{
        width: 45%;
    }
    .video-side{
        text-align: left;
    }
    .video-side .title .about{
        margin-left: 0px;
    }
    /* =========== gallery ========== */
    .gimg-1, .gimg-2, .gimg-3, .gimg-4, .gimg-1::before, .gimg-2::before, .gimg-3::before, .gimg-4::before{
        width: 450px;
        height: 280px;
    }
    .gimg-center, .gimg-center::before{
        width: 450px;
        height: 600px;
    }
    .gimg-center{
        right: 0%;
        transform: translateX(6%);
        top: 0;
    }
    
}
@media (min-width: 1200px){
    .container{
        max-width: 1140px;
    }
    .col-xl-1{
        width: 8.3333%;
    }
    .col-xl-2{
        width: 16.6666%;
    }
    .col-xl-3{
        width: 25%;
    }
    .col-xl-4{
        width: 33.3333%;
    }
    .col-xl-5{
        width: 41.6666%;
    }
    .col-xl-6{
        width: 50%;
    }
    .col-xl-7{
        width: 58.3333%;
    }
    .col-xl-8{
        width: 66.6666%;
    }
    .col-xl-9{
        width: 75%;
    }
    .col-xl-10{
        width: 83.3333%;
    }
    .col-xl-11{
        width: 91.6666%;
    }
    .col-xl-12{
        width: 100%;
    }
    .display-block-xl{
        display: flex;
    }
    .display-block-xl-b{
        display: block;
    }
    .section-side ul li a, .social-side ul li a{
        font-size: 16px;
    }
    /* =========== hero =========== */
    .img-container{
        padding: 50px;
    }
    /* =========== about ========== */
    .box1{
        width: 240px;
        height: 180px;
    }
    .box{
        width: 210px;
        height: 130px;
        padding-top: 30px;
    }
    .box p{
        font-size: 25px;
    }
    .text-side .title h2{
        font-size: 55px;
    }
    /* ========= video =========== */
    .icon-box-1 h4{
        font-size: 25px;
    }
    /* =========== price ========== */
    .price-detail{
        flex-direction: row;
    }
    .pbox .pimg{
        width: 80px;
        height: 80px;
    }
    .pcontent{
        width: 400px;
    }
    /* ============ testimonial =========== */
    .review-box::before, .face-2::before, .face-3::before{
        top: 2%;
        left: 0%;
    }
    /* =========== gallery ========== */
    .gallery-grid{
        min-height: 650px;
    }
    .gimg-1, .gimg-2, .gimg-3, .gimg-4, .gimg-1::before, .gimg-2::before, .gimg-3::before, .gimg-4::before{
        width: 345px;
        height: 280px;
    }
    .gimg-center, .gimg-center::before{
        width: 345px;
        height: 600px;
    }
    .gimg-1{
        top: 0;
        left: 0;
    }
    .gimg-2{
        top: 71%;
        left: 0;
    }
    .gimg-3{
        left: 70%;
        top: 0;
    }
    .gimg-4{
        top: 49%;
        left: 70%;
    }
    .gimg-center{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    /* =========== perfume ========== */
    .p-box{
        width: calc(100% / 6);
    }
}
@media (min-width: 1400px){
    .container{
        max-width: 1320px;
    }
    /* ========== about =========== */
    .box1{
        top: 71%;
    }
    /* =========== package =========== */
    .massage-1{
        width: 233px;
        height: 309px;
    }
    .massage-1 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /* =========== form ============ */
    .box11{
        width: 45%;
    }
    .form-items{
        margin-left: 10px;
    }
    .form-content .submit{
        margin-left: 20px;
    }
    /* =========== video ========== */
    .icon-box-1 h4{
        font-size: 27px;
    }
    .icons{
        margin-top: 30px;
    }
    .video-img{
        margin-left: 30px;
    }
    /* ============ price ========== */
    .pcontent{
        width: 500px;
    }
    .plan-title h3 a{
        font-size: 25px;
    }
    .plan-title span, .pcontent > p{
        font-size: 16px;
    } 
    .plan-title p{
        font-size: 25px;
    }
    /* ============= gallery =========== */
    .gimg-1, .gimg-2, .gimg-3, .gimg-4, .gimg-1::before, .gimg-2::before, .gimg-3::before, .gimg-4::before{
        width: 406px;
        height: 280px;
    }
    .gimg-center, .gimg-center::before{
        width: 406px;
        height: 600px;
    }
    .gimg-3{
        left: 69%;
        top: 0;
    }
    .gimg-4{
        top: 49%;
        left: 69%;
    }
    /* =========== logo =========== */
    .logo-bg{
        height: 250px;
    }
    .logo-box{
        margin-top: 30px;
    }
}
